/* GLobal Style */
html {
  /* background-color: #ffffff; */
  background-color: #212121;
  box-sizing: border-box;
  /* font-size: 16px; */
}

*,*:before,*:after {
	box-sizing: inherit;
}

body{
    min-width: 320px;
    padding: 0;
    margin: 0;
}

.container {
	background-color: #FFF;
}

 /* Content Style */
 .img_map{
  position: absolute;
  top: 50px;
  width: 100vw;
   /* min-width: 1920px; */
 }
 .box_map_explain{
   position: fixed;
   top: 50px;
   right: 0;
   width: 30vw;
   height: 100vh;
   background-color: #d5d7db;
   opacity: 0.9;
   box-shadow: -2px -2px 10px 5px rgba(0, 0, 0, 0.5);
   display: none;
 }
 .featured_district{
   font-family: 'Roboto Mono', monospace, sans-serif;
   font-size: 2.5rem;
   font-weight: 500;
   /* height: 30px; */
   width: 30vw;
   text-align: center;
   margin-top: 25px;
   color: #6e6e6e;
 }
 .box_district_img{
   position: absolute;
   width: 30vw;
   height: 20vw;
   margin-top: 4vh;
   background-image: url(../img/district_12.jpg);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center center;
 }
 .box_gray{
   position: absolute;
   width: 30vw;
   height: calc(100vh - 50px);
   margin-top: 45vh;
   background-color: #d5d7db;
}
 .word_map_12{
   position: absolute;
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 2rem;
   font-weight: 400;
   width: 30vw;
   text-align: center;
   margin: 5vh auto;
   color: #6e6e6e;
 }
.box_view_more{
  position: absolute;
  width: 8vw;
  right: 0;
  left: 0;
  margin: auto;
}
 .btn_view_more{
   position: absolute;
   font-family: 'Barlow Condensed', sans-serif;
   font-size: 1rem;
   color:  #6e6e6e;
   width: 8vw;
   height: 25px;
   outline: 1px solid  #6e6e6e;
   text-align: center;
   margin-top: 13vh;
   
 }
 .btn_view_more:hover{
   opacity: 0.5;
 }
 map {
  display: inline;
}
area{
  display: block;
  cursor: pointer;
}
.menu-click{
  display: block;
}

/* iPad version */
@media screen and (max-width: 1024px){
  html{
    font-size: 22px;
  }
  .box_map_explain{
    height: 30vh;
  }
  .featured_district{
    font-size: 1.2rem;
  }
  .box_gray{
    height: 20vh;
    margin-top: 20vw;
  }
  .word_map_12{
    font-size: 1rem;
    margin: 4vw 0;

  }
  .box_view_more{
    width: 10vw;
    margin-top: 5vw;
  }
  .btn_view_more{
    width: 10vw;
    height: 3vh;
    margin-top: 5vw;
    font-size: 8px;
  }
}
 /* iPad version */
 @media screen and (max-width: 768px){
   html{
     font-size: 20px;
   }
   .box_map_explain{
    height: 30vh;
  }
  .featured_district{
    font-size: 1.2rem;
  }
  .box_gray{
    height: 20vh;
    margin-top: 20vw;
  }
  .word_map_12{
    font-size: 1rem;
    margin: 4vw 0;

  }
  .box_view_more{
    width: 10vw;
    margin-top: 5vw;
  }
  .btn_view_more{
    width: 10vw;
    height: 3vh;
    margin-top: 5vw;
    font-size: 8px;
  }
 }
 @media screen and (max-width: 480px){
  .box_map_explain{
    height: 30vh;
  }
  .featured_district{
    font-size: 1.4rem;
  }
  .box_gray{
    height: 15vh;
    margin-top: 25vw;
  }
  .word_map_12{
    font-size: 1rem;
    margin: 4vw 0;

  }
  .box_view_more{
    width: 50px;
    height: 18px;
    margin-top: 5vw;
  }
  .btn_view_more{
    position: absolute;
    width: 50px;
    height: 18px;
    margin-top: 5vw;
    font-size: 12px;
  }
}