/* GLobal Style */
html {
	background-color: #ffffff;
    box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body{
    min-width: 320px;
    padding: 0;
    margin: 0;
}


.container {
    background-color: #FFF;
    height: 200vh;
    overflow: hidden;
}
 /* Content Style */
 .background{
    margin-top: 50px;
    opacity: 0.5;
    font-size: 0;
}
 .bgi{
    width: calc(100vw - 25vw);
}
 .box_people{
    position: absolute;
    width: 35vw;
    height: 200vh;
    background-color: #6e6e6e;
    top: 0;
    right: 0;
    padding: 0;
}
.box_people_2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25vw;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 40px;
}
.box{
    margin-top: 5vw;
    font-size: 0;
}
.gray_box{
    position: absolute;
    width: 12vw;
    height: 3.5vw;
    background-color: #8a8174;
}
.box_name{
    position: absolute;
    color: #fff;
    width: 8vw;
    height: 3.5vw;
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 0.5vw;
    margin-left: 0.2vw;
    text-align: center;
}
.material-icons{
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    right: 0;
    opacity: 0.5;
}
.material-icons:hover{
    opacity: 0.8;
}
.box_katniss{
    width: 12vw;
    height: 12vw;
}
.img_katniss{
    width: 12vw;
}
.box_peeta{
    width: 12vw;
}
.img_peeta{
    width: 12vw;
}
.box_haymitch{
    width: 12vw;
}
.img_haymitch{
    width: 12vw;
}
.box_gale{
    width: 12vw;
}
.img_gale{
    width: 12vw;
}
.box_cinna{
    width: 12vw;
}
.img_cinna{
    width: 12vw;
}
.box_primrose{
    width: 12vw;
}
.img_primrose{
    width: 12vw;
}
.box_effie{
    width: 12vw;
}
.img_effie{
    width: 12vw;
}
.box_finnick{
    width: 12vw;
}
.img_finnick{
    width: 12vw;
}
/* iPad version */
@media screen and (max-width: 1024px){
    .container{
        height: 350vh;
    }
    .bgi{
        width: 100vw;
    }
    .box_people{
        position: absolute;
        width: 100vw;
        height: 350vh;
        right: 0;
        left: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .box_people_2{
        width: 75vw;
        padding: 5vw 5vw;
        margin-top: 5vw;
    }
    .box{
        margin-top: 12vw;
    }
    .box_name{
        font-size: 2rem;
        margin-left: 2vw;
    }
    .gray_box{
        position: absolute;
        width: 30vw;
        height: 8vw;
        background-color: #8a8174;
    }
    .material-icons{
        position: absolute;
        width: 8vw;
        height: 8vw;
        right: 0;
        opacity: 0.5;
    }
    
    .box_katniss{
        width: 30vw;
        height: 12vw;
    }
    .img_katniss{
        width: 30vw;
    }
    .box_peeta{
        width: 30vw;
    }
    .img_peeta{
        width: 30vw;
    }
    .box_haymitch{
        width: 30vw;
    }
    .img_haymitch{
        width: 30vw;
    }
    .box_gale{
        width: 30vw;
    }
    .img_gale{
        width: 30vw;
    }
    .box_cinna{
        width: 30vw;
    }
    .img_cinna{
        width: 30vw;
    }
    .box_primrose{
        width: 30vw;
    }
    .img_primrose{
        width: 30vw;
    }
    .box_effie{
        width: 30vw;
    }
    .img_effie{
        width: 30vw;
    }
    .box_finnick{
        width: 30vw;
    }
    .img_finnick{
        width: 30vw;
    }
}
@media screen and (max-width: 768px){
    .container{
        height: 250vh;
    }
    .box_people{
        height: 250vh;
    }
}
/* iPhone version */
@media screen and (max-width: 480px){
    .container{
        height: 200vh;
    }
    .bgi{
        width: 100vw;
    }
    .box_people{
        position: absolute;
        width: 100vw;
        height: 200vh;
        right: 0;
        left: 0;
        margin: auto;
        background-color: rgba(0, 0, 0, 0.6);
    }
    .box_people_2{
        width: 75vw;
        padding: 5vw 5vw;
        margin-top: 5vw;
    }
    .box{
        margin-top: 12vw;
    }
    .box_name{
        font-size: 2rem;
        margin-left: 2vw;
    }
    .gray_box{
        position: absolute;
        width: 30vw;
        height: 8vw;
        background-color: #8a8174;
    }
    .material-icons{
        position: absolute;
        width: 8vw;
        height: 8vw;
        right: 0;
        opacity: 0.5;
    }
    
    .box_katniss{
        width: 30vw;
        height: 12vw;
    }
    .img_katniss{
        width: 30vw;
    }
    .box_peeta{
        width: 30vw;
    }
    .img_peeta{
        width: 30vw;
    }
    .box_haymitch{
        width: 30vw;
    }
    .img_haymitch{
        width: 30vw;
    }
    .box_gale{
        width: 30vw;
    }
    .img_gale{
        width: 30vw;
    }
    .box_cinna{
        width: 30vw;
    }
    .img_cinna{
        width: 30vw;
    }
    .box_primrose{
        width: 30vw;
    }
    .img_primrose{
        width: 30vw;
    }
    .box_effie{
        width: 30vw;
    }
    .img_effie{
        width: 30vw;
    }
    .box_finnick{
        width: 30vw;
    }
    .img_finnick{
        width: 30vw;
    }
}