/* GLobal Style */
html {
	background-color: #ffffff;
    box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body{
    min-width: 320px;
    padding: 0;
    margin: 0;
}

/* html, body{
	max-width: 100%;
	min-height: 100%;
} */

.container {
    background-color: #FFF;
    height: 200vh;
    overflow: hidden;
}

/* Header Style */
.header {
    z-index: 1;
	display: flex;
    position: fixed;
    top: 0;
	background-color: #212121;
	height: 50px;
	width: 100vw;
	font-family: 'Roboto Mono', monospace, sans-serif;
	font-size: 0.8em;
    font-weight: 400;
    overflow: hidden;
}

.logo_img{
	position: relative;
	width: 180px;
	margin-left: 10vw;
	margin-top: 10px;
}

/* Navitation Bar Style */

.float-nav{
	width: 100vw;
	margin-right: 10vw;
}

.nav_list {
   min-width: 800px;
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
}

.nav_list-item{
	list-style: none;
    width: 9vw;
    height: 50px;
    line-height: 20px;
    text-align: center;
    outline: 1px solid #424242;
}
.icon_mockingjay{
   position: absolute;
   height: 20px;
}
.nav_span{
   margin-left: 25px;
}
.nav_list_item_link{
	display: block;
	color: #8a8174;
	text-decoration: none;
	padding: 15px 0px;
	border-bottom: none;
}

.nav_list-item:hover > .nav_list_item_link {
  background-color: #6e6e6e;
}

.active-hover {
	background-color: #6e6e6e;
}

/* .nav-list-item-link:hover {
	background-color: #e5e9dc;
}
 */

 /* Content Style */
 .background{
    margin-top: 50px;
    opacity: 0.5;
    font-size: 0;
}
 .bgi{
    width: 100vw;
}
 .box_people{
    position: absolute;
    width: 35vw;
    height: 200vh;
    background-color: #6e6e6e;
    top: 0;
    right: 0;
    padding: 0;
}
.box_people_2{
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 25vw;
    right: 0;
    left: 0;
    margin: auto;
    margin-top: 40px;
}
.box{
    margin-top: 5vw;
    font-size: 0;
}
.gray_box{
    position: absolute;
    width: 12vw;
    height: 3.5vw;
    background-color: #8a8174;
}
.box_name{
    position: absolute;
    color: #fff;
    width: 8vw;
    height: 3.5vw;
    font-size: 1.8rem;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 0.35vw;
    margin-left: 0.2vw;
    text-align: center;
}
.material-icons{
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    right: 0;
    opacity: 0.5;
}
.material-icons:hover{
    opacity: 0.8;
}
.box_katniss{
    width: 12vw;
    height: 12vw;
}
.img_katniss{
    width: 12vw;
}
.box_peeta{
    width: 12vw;
}
.img_peeta{
    width: 12vw;
}
.box_haymitch{
    width: 12vw;
}
.img_haymitch{
    width: 12vw;
}
.box_gale{
    width: 12vw;
}
.img_gale{
    width: 12vw;
}
.box_cinna{
    width: 12vw;
}
.img_cinna{
    width: 12vw;
}
.box_primrose{
    width: 12vw;
}
.img_primrose{
    width: 12vw;
}
.box_effie{
    width: 12vw;
}
.img_effie{
    width: 12vw;
}
.box_finnick{
    width: 12vw;
}
.img_finnick{
    width: 12vw;
}
