/* Web version */
/* GLobal Style */
html {
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 24px;
}

body{
	border: 0;
	font-size: 100%;
	min-width: 320px;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 100%;
	background-color: #FFF;
	margin: auto;
	background-color: #ffffff;
}



/* Content Style */
.content-area {
	display: flex;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Main-Area Style */

.main-area {
	width: 66%;
	padding-right: 40px;
}
.img_main_photo-box{
	margin-top: 50px;
	background-image: url(../img/The\ Hunger\ Games\ -\ In\ Arena.jpg);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;
}
.white_box{
	position: relative;
	background-color: #fff;
	width: 100vw;
	height: 15vh;
}
.black_box{
	position: relative;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	width: 100vw;
	height: 15vh;
}
.img_arrow_down{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.img_arrow_top{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.img_arrow_down:hover{
	opacity: 0.8;
}
.img_arrow_top:hover{
	opacity: 0.8;
}
.box_inside{
	position: relative;
	width: 100vw;
	background-image: url(../img/three_finger_salute_1.png);
	height: 75vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.btn_inside{
	font-family: 'Barlow Condensed', sans-serif;
	position: absolute;
	font-size: 2.3rem;
	font-weight: 500;
	width: 200px;
	line-height: 15vh;
	/* height: 50px; */
	/* margin-top: 12px; */
	margin-left: 18vw;
	text-align: center;
}

.box_word_inside{
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 18vw;
	top: 15vw;
	width: 50vw;
	height: 20vh;
}
.word_inside{
	/* position: absolute; */
	font-family:Times;
	font-size: 2.3rem;
	color: #ffffff;
	margin: 0;
	text-shadow: 0.1em 0.1em 0.05em #333;
}
.box_read_inside{
	/* position :absolute; */
	width: 150px;
	height: 25px;
	text-align: center;
	outline: 1px solid #fff;
	box-sizing: border-box;
	margin-top: 2vw;
}
.word_read_inside{
	/* position :absolute; */
	text-decoration: none;
	color: #ffffff;
	font-size: 0.75rem;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: 'Barlow Condensed', sans-serif;
}
.word_read_inside:hover{
	opacity: 0.5;
}

.img_three_finger_salute{
	width: 100vw;
}

/*quote 1*/
.quote_1{
	width: 100vw;
	background-image: url(../img/quote_1_version2.jpg);
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.img_quote_1{
	width: 100vw;
}
.box_word_quote1{
	position: absolute;
	width: 40vw;
	height: 80vh;
	margin-left: 15vw;
}
.word_quote1{
	position: absolute;
	font-family:Times;
	font-size: 2.5rem;
	color: #ffffff;
	text-shadow: 0.1em 0.1em 0.05em #333;
	margin-top: 25vh;
}

/* People */
.box_people_area{
	position: relative;
	width: 100vw;
	height: 40vw;
	overflow: hidden;
}
.box_people{
	position: absolute;
	width: 64vw;
	margin-left: 18vw;
}
.box_katniss{
	position: absolute;
	width: 26vw;
}
.img_katniss{
	position: absolute;
	width: 26vw;
	max-height: 80vh;
}
.word_katniss{
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	color: #fff;
	top: 30vw;
	left: 5vw;
}
.word_katniss:hover{
	opacity: 0.5;
}
.box_people_4{
	position: absolute;
	margin-left: 28.5vw;
	display: flex;
	flex-wrap: wrap;
	width: 35vw;
	height: 15vw;
	font-size: 0;
}
.box_peeta{
	width: 15vw;
	height: 15vw;
	margin-right: 1.5vw;
	margin-bottom: 5vw;
}
.box_haymitch{
	width: 15vw;
	height: 15vw;
	margin-right: 1.5vw;
}
.img{
	width: 15vw;
}
.gray_box{
	position: absolute;
    width: 15vw;
    height: 3.5vw;
	background-color: #8a8174;
}
.box_name{
    position: absolute;
    color: #fff;
    width: 11.5vw;
    height: 3.5vw;
    font-size: 1.3rem;
	font-family: 'Barlow Condensed', sans-serif;
	padding: 0.2vw 0;
	box-sizing: border-box;
    /* margin-top: 0.35vw; */
    /* margin-left: 0.2vw; */
    text-align: center;
}
.material-icons{
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    right: 0;
    opacity: 0.5;
}
.material-icons:hover{
	opacity: 0.8;
}
/* quote 2*/
.quote_2{
	width: 100vw;
	background-image: url(../img/quote_2_1_copy.png);
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.img_quote_2{
	width: 100vw;
}
/* District */
.district_box{
	width: 60vw;
	height: 40vw;
	background-color: #ffffff;
	display: block; 
	margin: auto;
	cursor: pointer;
}
.img_district{
	display: block; 
	width: 60vw;
	right: 0;;
	left: 0;
	margin: auto;
}
/* quote 3 */
.quote_3{
	width: 100vw;
	background-image: url(../img/quote_3_versiov2.jpg);	
	height: 80vh;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}


/* Galleries */
.galleries_box{
	width: 62vw;
	/* height: 75vh; */
	background-color: #ffffff;
	display: block; 
	margin: auto;
}
/* dots area */
.box_icon_dots{
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 1;
	font-size: 0;
	position: fixed;
	right: 1.5vw;
	top: 40vh;
}
.icon_dots{
	width: 1vw;
	margin-top: 1vw;
}
.icon_dots_1{
	width: 1vw;
	margin-top: 1vw;
	display: block;
}
.icon_dots_2{
	width: 1vw;
	margin-top: 1vw;
	display: none;
}
.icon_dots_1:hover{
	opacity: 0.5;
}

/* SideBar Style */
.sidebar {
	width: 34%;
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 0.5rem;
}

/* back to top */
.to_top{
	display:flex;
}
.back_to_top{
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 14px;
	font-weight: 500;
	width: 150px;
	height: 20px;
	text-align: center;
	display: block;
	margin-left: 52vw;
	/* margin-top: 5vh; */
	bottom: 1vh;
	color:  #212121;
}

/* Footer */
.footer {
	width: 100vw;
	height: 120px;
	text-align: center;
	/* font-size: 0.7rem; */
	background-color: #212121;
	padding: 30px 5vw 20px 5vw;
	box-sizing: border-box;
}
.box_icon{
	position: absolute;
	display: flex;
	width: 180px;
	height: 40px;
	right: 0;
	left: 0;
	margin: auto;
}
.icon{
	position: relative;
	margin: 0 10px;
	width: 40px;
}
.box_copyright{
	position: absolute;
	width: calc(100vw - 10vw);
	text-align: center;
	margin-top: 55px;
}
.word_copyright{
	color: #8a8174;
	font-size: 11.5px;
	font-family: 'Noto Serif TC', sans-serif;
}
/* iPad version RWD */
@media screen and (max-width: 1024px) {
	html{
		font-size: 20px;
		max-width: 100%;
	}
	.btn_inside{
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		line-height: 14vh;
	}
	.box_read_inside{
		/* margin-top: 5vh; */
	}
	.box_word_quote1{
		height: 50vh;
		width: 45vw;
	}
	.word_quote1{
		position: absolute;
		width: 45vw;
		font-size: 2.5rem;
		margin-top: 15vh;
	}
	.box_name{
		font-size: 1rem;
	}
	.img_arrow_down{
		width: 4vh;
	}
	.img_arrow_top{
		width: 4vh;
	}
	.img_main_photo-box{
		background-image: url(../img/The\ Hunger\ Games\ -\ In\ Arena_m.jpg);
		width: 100%;
		height: 55vh;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: 0 0 ;
		background-attachment: fixed;
	}
	.white_box{
		position: relative;
		background-color: #fff;
		width: 100vw;
		height: 14vh;
	}
	.black_box{
		position: relative;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		width: 100vw;
		height: 10vh;
	}
	.box_inside{
		position: relative;
		width: 100vw;
		background-image: url(../img/three_finger_salute_1.png);
		height: 45vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_1{
		width: 100vw;
		background-image: url(../img/quote_1_version2.jpg);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_2{
		width: 100vw;
		background-image: url(../img/quote_2_1_copy.png);
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_3{
		width: 100vw;
		background-image: url(../img/quote_3_versiov2.jpg); 
		height: 50vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	/* People */
	.box_people_area{
		position: relative;
		width: 100vw;
		height: 75vh;
		display: flex;
		justify-content: space-around;
	}
	.box_people{
		position: absolute;
		width: 82vw;
		height: 75vh;
		right: 0;
		left: 0;
		margin: auto;
	}
	.box_katniss{
		position: absolute;
		width: 45vh;
		max-height: 75vh;
		/* margin-left: 5vw; */
	}
	.img_katniss{
		position: absolute;
		width: 45vh;
		max-height: 75vh;
		/* margin-left: 5vw; */
	}
	.word_katniss{
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2.5rem;
		color: #fff;
		margin-top: 18vh;
		left: 5vw;
	}
	.box_people_4{
		position: absolute;
		display: flex;
		flex-wrap: wrap;
		min-width: 45vw;
		height: 50vh;
		font-size: 0;
		margin-left: 47vh;
	}
	.box_peeta{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
		margin-bottom: 10vh;
	}
	.box_haymitch{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
	}
	.img{
		width: 20vw;
	}
	.gray_box{
		position: absolute;
		width: 20vw;
		height: 5vw;
		background-color: #8a8174;
	}
	.box_name{
		position: absolute;
		color: #fff;
		width: 15.5vw;
		height: 5vw;
		font-size: 1.3rem;
		padding: 0.2vw 0;
		box-sizing: border-box;
		text-align: center;
	}
	.material-icons{
		position: absolute;
		width: 5vw;
		height: 5vw;
		right: 0;
		opacity: 0.5;
	}
	.box_icon_dots{
		right: 2vw;
		top: 40vh;
		display: none;
	}
	.icon_dots{
		width: 1.5vw;
		margin-top: 1.5vw;
	}
	.icon_dots_1{
		width: 1.5vw;
		margin-top: 1.5vw;
		display: block;
	}
	.icon_dots_2{
		width: 1.5vw;
		margin-top: 1.5vw;
		display: none;
	}
}
@media screen and (max-width: 768px) {
	html{
		font-size: 15px;
	}
	/* main */
	.box_word_inside{
		position: absolute;
		top: 20vh;
		left: 15vw;
	}
	.word_inside{
		font-size: 1.5rem;
	}
	.box_read_inside{
		position: absolute;
		width: 24vw;
		height: 4vw;
		margin-top: 8vw;
	}
	.box_word_quote1{
		position: absolute;
		width: 40vw;
		height: 50vh;
		margin-left: 15vw;
	}
	.word_quote1{
		font-size: 2.2rem;
	}
	.word_katniss{
		font-size: 1.2rem;
	}
	.box_name{
		font-size: 0.7rem;
	}
	.footer{
		height: 150px;
	}
	.white_box{
		height: 14vh;	
	}

	/* People */
	.box_people_area{
		position: relative;
		width: 100vw;
		height: 50vh;
		display: flex;
		justify-content: space-around;
	}
	.box_people{
		position: absolute;
		width: 85vw;
		height: 50vh;
		right: 0;
		left: 0;
		margin: auto;
	}
	.box_katniss{
		position: absolute;
		width: 35vh;
		max-width: 50vw;
		max-height: 50vh;
		/* margin-left: 5vw; */
	}
	.img_katniss{
		position: absolute;
		width: 35vh;
		max-width: 50vw;
		max-height: 50vh;
		/* margin-left: 5vw; */
	}
	.word_katniss{
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2.5rem;
		color: #fff;
		margin-top: 7.5vh;
		left: 5vw;
	}
	.box_people_4{
		position: absolute;
		margin-left: 37vh;
		display: flex;
		flex-wrap: wrap;
		/* justify-content: space-around; */
		min-width: 45vw;
		height: 30vh;
		font-size: 0;
		box-sizing: border-box;
	}
	.box_peeta{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
		margin-bottom: 5vh;
	}
	.box_haymitch{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
	}
	.img{
		width: 20vw;
	}
	.gray_box{
		position: absolute;
		width: 20vw;
		height: 4vw;
		background-color: #8a8174;
	}
	.box_name{
		position: absolute;
		color: #fff;
		width: 15.5vw;
		height: 4vw;
		font-size: 1rem;
		padding: 0.2vw 0;
		box-sizing: border-box;
		text-align: center;
	}
	.material-icons{
		position: absolute;
		width: 4vw;
		height: 4vw;
		right: 0;
		opacity: 0.5;
	}
	.box_icon_dots{
		display: none;
	}
	.icon_dots{
		width: 2vw;
		margin-top: 2vw;
	}
	.icon_dots_1{
		width: 2vw;
		margin-top: 2vw;
		display: block;
	}
	.icon_dots_2{
		width: 2vw;
		margin-top: 2vw;
		display: none;
	}
}
/* iPhone version RWD */
@media screen and (max-width: 480px) {
	html{
		font-size: 10px;
		max-width: 100%;
	}
	/* Main area */
	.white_box{
		height: 70px;
	}
	.btn_inside{
		position: absolute;
		font-size: 3.2rem;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		line-height: 70px;
	}
	.box_word_inside{
		top: 8vh;
		min-width: 40vw;
	}
	.word_inside{
		font-size: 2.5rem;
	}
	.box_read_inside{
		/* position: absolute; */
		width: 24vw;
		height: 4vw;
		/* margin-top: 7vw; */
	}
	.word_read_inside{
		/* position: absolute; */
	}
	.box_word_quote1{
		height: 20vh;
	}
	.word_quote1{
		margin-top: 7vh;
		font-size: 2rem;
	}
	.img_arrow_down{
		width: 40px;
	}
	.img_arrow_top{
		width: 40px;
	}
	.back_to_top{
		margin-left: 48vw;
		margin-top: 45px;
	}
	.footer{
		height: 150px;
	}
	.img_main_photo-box{
		background-image: url(../img/The\ Hunger\ Games\ -\ In\ Arena.jpg);
		width: 100%;
		height: 35vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: unset;
	}
	.white_box{
		position: relative;
		background-color: #fff;
		width: 100vw;
		height: 8vh;
	}
	.black_box{
		position: relative;
		background-color: #ffffff;
		border: 1px solid #e5e5e5;
		width: 100vw;
		height: 8vh;
	}
	.box_inside{
		position: relative;
		width: 100vw;
		background-image: url(../img/three_finger_salute_1.png);
		height: 25vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_1{
		width: 100vw;
		background-image: url(../img/quote_1_version2.jpg);
		height: 20vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_2{
		width: 100vw;
		background-image: url(../img/quote_2_1_copy.png);
		height: 20vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}
	.quote_3{
		width: 100vw;
		background-image: url(../img/quote_3_versiov2.jpg); 
		height: 20vh;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}

	/* People */
	.box_people_area{
		position: relative;
		width: 100vw;
		height: 30vh;
		display: flex;
		justify-content: space-around;
	}
	.box_people{
		position: absolute;
		width: 85vw;
		height: 30vh;
		right: 0;
		left: 0;
		margin: auto;
	}
	.box_katniss{
		position: absolute;
		width: 20vh;
		max-width: 45vw;
		max-height: 30vh;
		/* margin-left: 5vw; */
	}
	.img_katniss{
		position: absolute;
		width: 20vh;
		max-width: 45vw;
		max-height: 30vh;
		/* margin-left: 5vw; */
	}
	.word_katniss{
		position: absolute;
		font-family: 'Barlow Condensed', sans-serif;
		font-size: 2.5rem;
		color: #fff;
		margin-top: 7.5vh;
		left: 5vw;
	}
	.word_katniss:hover{
		opacity: 0.5;
	}
	.box_people_4{
		position: absolute;
		margin-left: 22vh;
		display: flex;
		flex-wrap: wrap;
		/* justify-content: space-around; */
		min-width: 45vw;
		height: 30vh;
		font-size: 0;
		box-sizing: border-box;
	}
	.box_peeta{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
		margin-bottom: 1.5vw;
	}
	.box_haymitch{
		width: 20vw;
		height: 20vw;
		margin-right: 1.5vw;
	}
	.img{
		width: 20vw;
	}
	.gray_box{
		position: absolute;
		width: 20vw;
		height: 4vw;
		background-color: #8a8174;
	}
	.box_name{
		position: absolute;
		color: #fff;
		width: 15.5vw;
		height: 4vw;
		font-size: 1.3rem;
		padding: 0.2vw 0;
		box-sizing: border-box;
		text-align: center;
	}
	.material-icons{
		position: absolute;
		width: 4vw;
		height: 4vw;
		right: 0;
		opacity: 0.5;
	}
	.box_icon_dots{
		right: 2.5vw;
		top: 40vh;
		display: none;
	}
	.icon_dots{
		width: 3vw;
		margin-top: 3vw;
	}
	.icon_dots_1{
		width: 3vw;
		margin-top: 3vw;
		display: block;
	}
	.icon_dots_2{
		width: 3vw;
		margin-top: 3vw;
		display: none;
	}
}
@media screen and (max-width: 320px) {
	.box_people_4{
		margin-left: 19vh;
	}
}