/* GLobal Style */
html {
	background-color: #ffffff;
	box-sizing: border-box;
}

*,*:before,*:after {
	box-sizing: inherit;
}

body{
	border: 0;
	font-size: 100%;
	font: inherit;
	min-width: 320px;
	margin: 0;
	padding: 0;
	display: block;
}

/* html, body{
	max-width: 100%;
	min-height: 100%;
} */

.container {
	max-width: 100%;
	background-color: #FFF;
	margin: auto;
	background-color: #ffffff;
}

/* Header Style */
.header {
	z-index: 1;
	display: flex;
  	position: fixed;
  	top: 0;
	background-color: #212121;
	height: 50px;
	width: 100vw;
	font-family: 'Roboto Mono', monospace, sans-serif;
	font-size: 0.8em;
  	font-weight: 400;
  	overflow: hidden;
}

.logo_img{
	position: relative;
	width: 180px;
	margin-left: 10vw;
	margin-top: 10px;
}

/* Navitation Bar Style */

.float-nav{
	width: 100vw;
	margin-right: 10vw;
}

.nav_list {
   min-width: 800px;
   display: flex;
   justify-content: flex-end;
   margin: 0;
   padding: 0;
}

.nav_list-item{
	list-style: none;
    width: 9vw;
    height: 50px;
	line-height: 20px;
    text-align: center;
    outline: 1px solid #424242;
}
.icon_mockingjay{
   position: absolute;
   height: 20px;
}
.nav_span{
   margin-left: 25px;
}
.nav_list_item_link{
	display: block;
	color: #8a8174;
	text-decoration: none;
	padding: 15px 0px;
	border-bottom: none;
}

.nav_list-item:hover > .nav_list_item_link {
    background-color: #6e6e6e;
}

.active-hover {
	background-color: #6e6e6e;
}

/* .nav-list-item-link:hover {
	background-color: #e5e9dc;
}
 */
 
/* Content Style */
.content-area {
	display: flex;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Main-Area Style */
.main-area {
	width: 66%;
	padding-right: 40px;
}

.img_main_photo{
	width: 100vw;
}
.white_box{
	position: relative;
	background-color: #fff;
	width: 100vw;
	height: 100px;
}
.img_arrow_down{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.img_arrow_top{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.btn_inside{
	font-family: 'Barlow Condensed', sans-serif;
	position: absolute;
	font-size: 3.5rem;
	font-weight: 400;
	width: 200px;
	height: 50px;
	margin-top: 12px;
	margin-left: 18vw;
	text-align: center;
}
.box_inside{
	position: relative;
	width: 100vw;
}

.word_onimginside{
	font-family:Times;
	font-size: 48px;
	color: #ffffff;
	position: absolute;
	left: 15vw; 
	top: 20vh;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

.word_readinside{
	text-decoration: none;
	color: #ffffff;
	font-size: 18px;
	position :absolute;
	left: 16vw;
	top: 35vh;
	font-family: Times;
	text-shadow: 0.1em 0.1em 0.05em #333;
}

/* .three_finger_salute{
	width: 450px;
	height: 70px;
	font-size: 48px;
	margin-left: 13vw;
} */
.img_three_finger_salute{
	width: 100vw;
}
.img_arrow{
	display:flex;
	position:relative;
	vertical-align:bottom;
	justify-content:center;
	margin-left: 45vw;
}
/*quote 1*/
.quote_1{
	width: 100vw;
}
.word_quote1{
	position: absolute;
	width: 450px;
	font-family:Times;
	font-size: 36px;
	color: #ffffff;
	text-shadow: 0.1em 0.1em 0.05em #333;
	margin-left: 18vw;
	margin-top: 200px;
}
.img_quote_1{
	width: 100vw;
}
/* People */
.box_people_area{
	width: 100vw;
	height: 80vh;
}
.box_people{
	width: 64vw;
	height: 80vh;
	margin-left: 18vw;
}
.box_katniss{
	position: absolute;
	width: 26vw;
	/* height: 80vh; */
}
.word_katniss{
	z-index: 2;
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 3rem;
	color: #fff;
	margin-top: 70vh;
	margin-left: 30px;
}
.img_katniss{
	position: absolute;
	width: 26vw;
	/* height: 80vh; */
}
.box_people_4{
	position: absolute;
	margin-left: 28.5vw;
	display: flex;
	flex-wrap: wrap;
	width: 35vw;
	height: 500px;
	font-size: 0;
}
.box_peeta{
	width: 15vw;
	height: 20vw;
	margin-right: 1.5vw;
}
.box_haymitch{
	width: 15vw;
	height: 20vw;
	margin-right: 1.5vw;
}
.img{
	width: 15vw;
}
.gray_box{
	position: absolute;
    width: 15vw;
    height: 3.5vw;
	background-color: #8a8174;
}
.box_name{
    position: absolute;
    color: #fff;
    width: 11.5vw;
    height: 3.5vw;
    font-size: 2rem;
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 0.35vw;
    margin-left: 0.2vw;
    text-align: center;
}
.material-icons{
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    right: 0;
    opacity: 0.5;
}
.material-icons:hover{
	opacity: 0.8;
}
/* quote 2*/
.quote_2{
	width: 100vw;
}
.img_quote_2{
	width: 100vw;
}
/* District */
.district_box{
	width: 100vw;
	height: 75vh;
	background-color: #ffffff;
	display: block; 
	margin: auto;
}
.img_district{
	display: block; 
	margin: auto;
}
.to_top{
	display:flex;
	/* position:relative;
	vertical-align:bottom;
	justify-content:center;
	margin-left: 47.75vw;
	display: inline-block;
	position: relative;
	margin-top: 48px; */
}
.back_to_top{
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1.5rem;
	width: 150px;
	height: 20px;
	text-align: center;
	display: block;
	margin-left: 52vw;
	margin-top: 60px;
	color:  #212121;
}

/* SideBar Style */
.sidebar {
	width: 34%;
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 85%;
}

/* Footer */
.footer {
	width: 100vw;
	height: 110px;
	text-align: center;
	font-size: 85%;
	background-color: #212121;
	padding-bottom: 20px;
	padding-top: 20px;
}
.box_icon{
	position: absolute;
	display: flex;
	width: 160px;
	height: 40px;
	right: 0;
	left: 0;
	margin: auto;
}
.icon{
	position: relative;
	margin: 0 10px;
	width: 40px;
}
.box_copyright{
	position: absolute;
	width: 100vw;
	text-align: center;
	margin-top: 55px;
}
.word_copyright{
	color: #8a8174;
	font-size: 12px;
}

/* WareHouse */

/* .row {
	display: flex;
	box-sizing: border-box;
	align-items: stretch;
	align-items: center;
	width: 100%;
	justify-content: center;
} */
/* .row_katniss{
} */
/* .row_PEETA{
	height:50%;
	margin-left: 8vw;
} */
/* .row_gale{
	margin-left: 5vw;
} */
/* .word_katniss{
	background: #fff;
	margin: 0;
	padding: 1em 0 1em 0;
} */
/* .item {
	box-shadow: 0 0.05em 0.15em 0 rgba(0, 0, 0, 0.05);
	margin-bottom: 20px;
} */
/* .item header {
	display: flex;
	background: #fff;
	margin: 0;
	padding: 0em 0 0em 1.5em;
	font-size: 0.8em;
	background-color: #C4C4C4;
} */
/* .item header h3 {
	font-size: 1.5em;
	text-align: left;
} */
/* .item header img {
	justify-content: flex-end;
} */
/* .image.fit {
	display: block;
	width: 100%;
} */