/* Web version */
/* GLobal Style */
html {
	background-color: #ffffff;
	box-sizing: border-box;
	font-size: 24px;
}

body{
	border: 0;
	font-size: 100%;
	/* font: inherit; */
	min-width: 320px;
	margin: 0;
	padding: 0;
	/* display: block; */
}

.container {
	max-width: 100%;
	background-color: #FFF;
	margin: auto;
	background-color: #ffffff;
}



/* Content Style */
.content-area {
	display: flex;
	border-top: 3px solid #e5e9dc;
	border-bottom: 3px solid #e5e9dc;
}

/* Main-Area Style */

.main-area {
	width: 66%;
	padding-right: 40px;
}

.img_main_photo{
	width: 100vw;
}
.white_box{
	position: relative;
	background-color: #fff;
	width: 100vw;
	height: 100px;
}
.black_box{
	position: relative;
	background-color: #ffffff;
	border: 1px solid #e5e5e5;
	width: 100vw;
	height: 100px;
}
.img_arrow_down{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.img_arrow_top{
	position: absolute;
	width: 4vw;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
.img_arrow_down:hover{
	opacity: 0.8;
}
.img_arrow_top:hover{
	opacity: 0.8;
}
.box_inside{
	position: relative;
	width: 100vw;
}
.btn_inside{
	font-family: 'Barlow Condensed', sans-serif;
	position: absolute;
	font-size: 2.3rem;
	font-weight: 500;
	width: 200px;
	height: 50px;
	margin-top: 12px;
	margin-left: 18vw;
	text-align: center;
}

.box_word_inside{
	position: absolute;
	left: 18vw;
	top: 15vw;
	width: 50vw;
	height: 20vw;
}
.word_inside{
	position: absolute;
	font-family:Times;
	font-size: 2rem;
	color: #ffffff;
	margin: 0;
	text-shadow: 0.1em 0.1em 0.05em #333;
}
.box_read_inside{
	position :absolute;
	width: 150px;
	height: 25px;
	text-align: center;
	outline: 1px solid #fff;
	box-sizing: border-box;
	margin-top: 5vw;
}
.word_read_inside{
	position :absolute;
	text-decoration: none;
	color: #ffffff;
	font-size: 0.75rem;
	width: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	font-family: 'Barlow Condensed', sans-serif;
}
.word_read_inside:hover{
	opacity: 0.5;
}

.img_three_finger_salute{
	width: 100vw;
}
.img_arrow{
	display:flex;
	position:relative;
	vertical-align:bottom;
	justify-content:center;
	margin-left: 45vw;
}
/*quote 1*/
.quote_1{
	width: 100vw;
}
.img_quote_1{
	width: 100vw;
}
.word_quote1{
	position: absolute;
	width: 30vw;
	height: 10vw;
	font-family:Times;
	font-size: 2rem;
	color: #ffffff;
	text-shadow: 0.1em 0.1em 0.05em #333;
	margin-left: 18vw;
	margin-top: 10vw;
}

/* People */
.box_people_area{
	position: relative;
	width: 100vw;
	height: 40vw;
}
.box_people{
	position: absolute;
	width: 64vw;
	margin-left: 18vw;
}
.box_katniss{
	position: absolute;
	width: 26vw;
}
.img_katniss{
	position: absolute;
	width: 26vw;
	max-height: 80vh;
}
.word_katniss{
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 2rem;
	color: #fff;
	top: 30vw;
	left: 5vw;
}
.word_katniss:hover{
	opacity: 0.5;
}
.box_people_4{
	position: absolute;
	margin-left: 28.5vw;
	display: flex;
	flex-wrap: wrap;
	width: 35vw;
	height: 15vw;
	font-size: 0;
}
.box_peeta{
	width: 15vw;
	height: 15vw;
	margin-right: 1.5vw;
	margin-bottom: 5vw;
}
.box_haymitch{
	width: 15vw;
	height: 15vw;
	margin-right: 1.5vw;
}
.img{
	width: 15vw;
}
.gray_box{
	position: absolute;
    width: 15vw;
    height: 3.5vw;
	background-color: #8a8174;
}
.box_name{
    position: absolute;
    color: #fff;
    width: 11.5vw;
    height: 3.5vw;
    font-size: 1.3rem;
	font-family: 'Barlow Condensed', sans-serif;
	padding: 0.2vw 0;
	box-sizing: border-box;
    /* margin-top: 0.35vw; */
    /* margin-left: 0.2vw; */
    text-align: center;
}
.material-icons{
    position: absolute;
    width: 3.5vw;
    height: 3.5vw;
    right: 0;
    opacity: 0.5;
}
.material-icons:hover{
	opacity: 0.8;
}
/* quote 2*/
.quote_2{
	width: 100vw;
}
.img_quote_2{
	width: 100vw;
}
/* District */
.district_box{
	width: 60vw;
	height: 40vw;
	background-color: #ffffff;
	display: block; 
	margin: auto;
	cursor: pointer;
}
.img_district{
	display: block; 
	width: 60vw;
	right: 0;;
	left: 0;
	margin: auto;
}
.to_top{
	display:flex;
}
.back_to_top{
	position: absolute;
	font-family: 'Barlow Condensed', sans-serif;
	font-size: 1rem;
	width: 150px;
	height: 20px;
	text-align: center;
	display: block;
	margin-left: 52vw;
	margin-top: 60px;
	color:  #212121;
}

/* Galleries */
.galleries_box{
	width: 62vw;
	/* height: 75vh; */
	background-color: #ffffff;
	display: block; 
	margin: auto;
}
/* dots area */
.box_icon_dots{
	position: absolute;
	display: flex;
	flex-direction: column;
	z-index: 1;
	font-size: 0;
	position: fixed;
	right: 1.5vw;
	top: 40vh;
}
.icon_dots{
	width: 1vw;
	margin-top: 1vw;
}
.icon_dots_1{
	width: 1vw;
	margin-top: 1vw;
	display: block;
}
.icon_dots_2{
	width: 1vw;
	margin-top: 1vw;
	display: none;
}
.icon_dots_1:hover{
	opacity: 0.5;
}

/* SideBar Style */
.sidebar {
	width: 34%;
	background-color: #e5e9dc;
	padding: 20px 40px;
	font-size: 0.5rem;
}

/* Footer */
.footer {
	width: 100vw;
	height: 120px;
	text-align: center;
	font-size: 0.5rem;
	background-color: #212121;
	padding: 30px 5vw 20px 5vw;
	box-sizing: border-box;
}
.box_icon{
	position: absolute;
	display: flex;
	width: 160px;
	height: 40px;
	right: 0;
	left: 0;
	margin: auto;
}
.icon{
	position: relative;
	margin: 0 10px;
	width: 40px;
}
.box_copyright{
	position: absolute;
	width: calc(100vw - 10vw);
	text-align: center;
	margin-top: 55px;
}
.word_copyright{
	color: #8a8174;
	font-size: 0.5rem;
}
/* iPad version RWD */
@media screen and (max-width: 1024px) {
	html{
		font-size: 20px;
		max-width: 100%;
	}
	.logo_img{
		position: absolute;
		left: 30vw;
	}

	/* Header area */
	.float-nav{
		position: absolute;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
		top: 50px;
		right: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.burger{
		display: block;
	}
	.menu-click{
		display: block;
	}

	.btn_inside{
		position: absolute;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.word_quote1{
		width: 45vw;
		margin-left: 15vw;
		/* margin-top: 10vw; */
	}
	.box_name{
		font-size: 1rem;
	}
	.img_arrow_down{
		width: 45px;
	}
	.img_arrow_top{
		width: 45px;
	}
}
@media screen and (max-width: 768px) {
	.word_quote1{
		font-size: 1.5rem;
	}
	/* Header area */
	.float-nav{
		position: absolute;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
		top: 50px;
		right: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		/* height: calc(100vh - 50px); */
		height: 300px;
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.menu-click{
		display: block;
	}
	/* main */
	.box_word_inside{
		position: absolute;
		top: 12vw;
		left: 15vw;
	}
	.box_read_inside{
		position: absolute;
		width: 24vw;
		height: 4vw;
		margin-top: 8vw;
	}
	.word_inside{
		font-size: 1.5rem;
	}
	.word_quote1{
		font-size: 1.2rem;
	}
	.word_katniss{
		font-size: 1.2rem;
	}
	.box_name{
		font-size: 0.7rem;
	}
	.footer{
		height: 150px;
	}
}
/* iPhone version RWD */
@media screen and (max-width: 480px) {
	html{
		font-size: 10px;
		max-width: 100%;
	}
	/* Header area */
	.logo_img{
		position: absolute;
		left: 15vw;
	}
	.float-nav{
		position: absolute;
		width: 100vw;
		height: calc(100vh - 50px);
		top: 50px;
		right: 0;
		position: fixed;
		background-color: #212121;
		display: none;
	}
	.nav_list{
		position: absolute;
		display: block;
		width: 100vw;
		height: calc(100vh - 50px);
	}
	.nav_list_item{
		/* position: absolute; */
		width: 100vw;
		height: 50px;
	}
	.burger{
		display: block;
	}
	.menu-click{
		display: block;
	}

	/* Main area */
	.white_box{
		height: 70px;
	}
	.btn_inside{
		position: absolute;
		font-size: 3.2rem;
		right: 0;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
	}
	.box_word_inside{
		position: absolute;
	}
	.box_read_inside{
		position: absolute;
		width: 24vw;
		height: 4vw;
		margin-top: 7vw;
	}
	.word_read_inside{
		position: absolute;
	}
	.word_quote1{
		width: 45vw;
		margin-left: 15vw;
		/* margin-top: 10vw; */
		font-size: 2rem;
	}
	.img_arrow_down{
		width: 40px;
	}
	.img_arrow_top{
		width: 40px;
	}
	.back_to_top{
		margin-left: 48vw;
		margin-top: 45px;
	}
	.footer{
		height: 150px;
	}
}
